.background {
    cursor: default;

    width: 100%;
    height: 100vh;
}

.manage-background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
}

.data-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.data-count h1 {
    font-family: 'Manrope', 'Mallanna', Arial, Helvetica, sans-serif;
    font-size: 7vw;

    margin-top: 25px;
}

.data-count p {
    color: #a7a7a7;

    font-family: 'Manrope', 'Mallanna', Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    font-weight: 500;

    margin-top: -20px;
}

#search-bar {
    border: 2px solid #a7a7a7;
    border-radius: 12px;

    color: #6e6e6e;

    font-family: 'Manrope', 'Mallanna', Arial, Helvetica, sans-serif;
    font-size: 1.2vw;

    padding: 15px;
    margin-top: 35px;
    
    width: 90%;
    height: auto;

    transition: all 0.3s ease-in-out;
}

#search-bar:focus {
    border: 2px solid #727272;

    transition: all 0.3s ease-in-out;
}

.manage-background ul:first-child {
    margin: 15px;
}

.manage-background ul {
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 15px;

    width: 90%;
    height: auto;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list span {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;

    width: 25%;
    height: auto;

    color: #4b4b4b;
    font-size: 3vw;
}

.result-list {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.result-list span {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;

    width: 25%;
    height: auto;

    transition: all 0.3s ease-in-out;
}

.result-list span a {
    color: #4b4b4b;
    font-size: 2vw;

    transition: all 0.3s ease-in-out;
}

.result-list span a:hover {
    transform: rotate(15deg) scale(0.9);
}

.delete-option a {
    color: rgb(255, 103, 103) !important; 
}

.user-icon {
    background-color: #a7a7a7;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    width: 3vw;
    min-width: 25px;

    height: 3vw;
    min-height: 25px;
}

.user-icon-container {
    background-image: url("../assets/images/user-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    margin-top: 10px;

    width: 90%;
    height: 90%;
}

.manage-background .container {
    cursor: pointer;
}