@media (max-width: 1178px) {
    .header-list span {
        font-size: 4vw;
    }

    .result-list span a {
        font-size: 2.8vw;
    }

    .user-icon {
        width: 4vw;
        min-width: 25px;
    
        height: 4vw;
        min-height: 25px;
    }
}

@media (max-width: 1060px) {
    .data-count h1 {
        font-size: 20vw;
    }

    .data-count p {
        font-size: 4vw;
    
        margin-top: -15px;
    }

    #search-bar {
        font-size: 2vw;
    }
}

@media (max-width: 760px) {
    .header-list span {
        font-size: 5vw;
    }

    .result-list span a {
        font-size: 3.5vw;
    }

    .user-icon {
        width: 4.5vw;
        min-width: 25px;
    
        height: 4.5vw;
        min-height: 25px;
    }

    #search-bar {
        font-size: 4vw;
    }
}

@media (max-width: 545px) {
    .header-list span {
        font-size: 22px;
    }

    .result-list span a {
        font-size: 15px;
    }

    .user-icon {
        display: none;
    }
}