.calltoaction {
    display: flex;

    cursor: default;

    font-family: 'Mallanna', 'Manrope', Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100vh;
}

.calltoaction-gif {
    width: 50%;
    height: 100%;
}

.calltoaction-container {
    background-image: url("../assets/images/car-movie.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.calltoaction-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 75px;

    margin-left: 100px;

    width: 50%;
    height: 100%;
}

.calltoaction-content h1 {
    font-size: 5.5vw;
    line-height: 1;
}

.signup-btn2 {
    background-color: #593A52;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;

    width: 18vw;
    height: auto;

    transition: all 0.3s ease-in-out;
}

.signup-btn2:hover {
    transform: scale(0.9);
    
    transition: all 0.3s ease-in-out;
}

.signup-btn2 p {
    font-size: 2.5vw;

    padding: 5px 0;
}

.arrow-right {
    width: 1.6vw;
    height: 1.5vw;

    animation: arrowRightAni 1.5s infinite ease-in-out;
}

.arrow-right-container {
    background-image: url("../assets/images/arrow-right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

@keyframes arrowRightAni {
    0% {transform: translateX(5px);}
    50% {transform: translateX(0px);}
    100% {transform: translateX(5px);}
}

@media (max-width: 1135px) {
    .calltoaction {
        display: none
    }
}