.footer {
    background-color: black;

    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.footer-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;

    width: 50%;
    height: 100%;
}

.footer-texts h1 {
    color: white;
    font-family: 'Kaushan Script';
    font-size: 8vw;
    font-weight: 400;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 50px;

    width: 100%;
    height: auto;
}

.footer-links-contents {
    color: #CACACA;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;

    width: auto;
    height: 100%;
}

.footer-links-contents h1 {
    color: #CACACA;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;

    margin-bottom: 10px;
}

.footer-links-contents a {
    color: #CACACA;
    font-size: 1vw;
}

.footer-links-contents p {
    color: #CACACA;
    font-size: 1vw;
    text-decoration: underline;

    margin-bottom: 2.5px;
}

.footer-links-contents:last-child {
    margin-bottom: 50px;
}

.footer-car {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
}

.footer-car-gif {
    width: 35vw;
    height: 35vw;
}

.footer-car-container {
    background-image: url("../assets/images/car-animation.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.credits {
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-weight: bold;

    cursor: default;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;

    width: 100%;
    height: auto;
}

.credits p:first-child {
    margin-left: 15px;
}

.credits-sm {
    display: flex;
    grid-gap: 15px;

    margin-right: 15px;

    width: auto;
    height: auto;
}

.sm-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    transition: all 0.3s ease-in-out;
}

.sm-box:hover {
    transform: scale(0.9);

    transition: all 0.3s ease-in-out;
}

.sm-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.instagram {
    background-image: url("../assets/images/instagram.png");
}

.github {
    background-image: url("../assets/images/github.png");
}

.linkdin {
    background-image: url("../assets/images/linkedin.png");
}

@media (max-width: 1500px) {    
    .footer-links-contents a {
        color: #CACACA;
        font-size: 1.3vw;
    }
    
    .footer-links-contents p {
        color: #CACACA;
        font-size: 1.3vw;
        text-decoration: underline;
    
        margin-bottom: 2.5px;
    }
}

@media (max-width: 1065px) {
    .footer-texts {
        width: 75%;
    }

    .footer-texts h1 {
        color: white;
        font-family: 'Kaushan Script';
        font-size: 11vw;
        font-weight: 400;
    }

    .footer-links {
        margin-bottom: 50px;
    }
    
    .footer-links-contents h1 {
        color: #CACACA;
        font-family: 'Manrope', Arial, Helvetica, sans-serif;
        font-size: 3.5vw;
    }
    
    .footer-links-contents a {
        color: #CACACA;
        font-size: 1.7vw;
    }
    
    .footer-links-contents p {
        color: #CACACA;
        font-size: 1.7vw;
        text-decoration: underline;
    
        margin-bottom: 2.5px;
    }

    .footer-car {
        width: 25%;
    }
    
    .footer-car-gif {
        width: 30vw;
        height: 30vw;
    }
}

@media (max-width: 900px) {
    .footer-links-contents a {
        font-size: 2vw;
    }
    
    .footer-links-contents p {
        font-size: 2vw;
    }
}

@media (max-width: 730px) {
    .footer-texts {
        width: 100%;
    }

    .footer-texts {
        flex-direction: column;
        align-items: flex-start;

        padding-left: 25px;
    }

    .footer-texts h1 {
        color: white;
        font-family: 'Kaushan Script';
        font-size: 15vw;
        font-weight: 400;
    }

    .footer-links {
        flex-direction: column;
    }

    .footer-links-contents h1 {
        color: #CACACA;
        font-family: 'Manrope', Arial, Helvetica, sans-serif;
        font-size: 4.5vw;
    }

    .footer-links-contents a {
        font-size: 3vw;
    }
    
    .footer-links-contents p {
        font-size: 3vw;
    }

    .footer-car {
        display: none;
    }

    .credits p {
        font-size: 13px;
    }
    
    .sm-box {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 20px;
        height: 20px;
    
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 483px) {
    .footer-texts {
        width: 100%;
    }

    .footer-texts h1 {
        color: white;
        font-family: 'Kaushan Script';
        font-size: 20vw;
        font-weight: 400;
    }

    .footer-links-contents h1 {
        color: #CACACA;
        font-family: 'Manrope', Arial, Helvetica, sans-serif;
        font-size: 7.5vw;
    }

    .footer-links-contents a {
        font-size: 4.5vw;
    }
    
    .footer-links-contents p {
        font-size: 4.5vw;
    }

    .footer-car {
        display: none;
    }

    .credits p {
        font-size: 11px;
    }
    
    .sm-box {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 18px;
        height: 18px;
    
        transition: all 0.3s ease-in-out;
    }
}