.introduction {
    font-family: 'Manrope', Arial, Helvetica, sans-serif;

    cursor: default;

    overflow: hidden;

    margin-top: 150px;

    width: 100%;
    height: auto;
}

.ping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-gap: 50px;

    margin: 0 15px;

    margin-bottom: 250px;

    width: 100%;
    height: auto;
}

.ping:last-child {
    margin-bottom: 100px;
}

.ping-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.ping-text h1 {
    font-size: 5.5vw;
}

.ping-text p {
    color: #808080;
    font-size: 2vw;
}

.ping-text-2 p {
    text-align: justify;
    padding: 0 100px;
}

.ping-text-3 p {
    text-align: justify;
    padding: 0 50px;
}

.ping-text-3 h1 {
    font-size: 5.1vw;
}

.ping-img {
    width: 32vw;
    min-width: 350px;
    height: 15vw;
    min-height: 160px;
}

.ping-img-2 {
    width: 25vw;
    min-width: 280px;
    height: 37vw;
    min-height: 410px;
}

.ping-img-3 {
    width: 26vw;
    min-width: 350px;
    height: 37vw;
    min-height: 400px;
}

.ping-img-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100%;
}

.ping-icon {
    background-image: url("../assets/images/push-notification.png");
}

.route {
    background-image: url("../assets/images/help-example.png");
}

.signin {
    background-image: url("../assets/images/signin-example.png");
}

@media (max-width: 910px) {
    .ping {
        flex-direction: column;
    }

    .ping-2 {
        flex-direction: column-reverse;
    }

    .ping-text {
        align-items: flex-start;
        margin-left: 15px;

        width: 100%;
    }

    .ping-text-2 p {
        text-align: none;
        padding: 0 0px;
        padding-right: 150px;
    }
    
    .ping-text-3 p {
        text-align: none;
        padding: 0 0px;
        padding-right: 150px;
    }

    .ping-text h1 {
        font-size: 9.5vw;

        margin-bottom: 15px;
    }
    
    .ping-text p {
        color: #808080;
        font-size: 3vw;
    }
    
    .ping-text-3 h1 {
        font-size: 9.5vw;
    }

    .ping-img {
        margin-top: 50px;

        width: 76vw;
        height: 35vw;
    }
    
    .ping-img-2 {
        margin-top: 25px;

        width: 55vw;
        height: 82vw;
    }
    
    .ping-img-3 {
        margin-top: 25px;

        width: 66vw;
        height: 74vw;
    }
}

@media (max-width: 550px) {    
    .ping-text h1 {
        font-size: 11vw;

        margin-bottom: 15px;
    }
    
    .ping-text p {
        color: #808080;
        font-size: 5vw;
    }
    
    .ping-text-3 h1 {
        font-size: 9.5vw;
    }

    .ping-text-2 p {
        text-align: none;
        padding: 0 0px;
        padding-right: 75px;
    }
    
    .ping-text-3 p {
        text-align: none;
        padding: 0 0px;
        padding-right: 50px;
    }
}