@media (max-width: 1038px) {
    .persons {
        min-width: 450px;
        width: 76vw;
    
        min-height: 345px;
        height: 58vw;
    }

    .info-items h1 {
        font-size: 4vw;
    }

    .info-items:last-child h1 {
        font-size: 62px;
    }

    .info-img {
        width: 80%;
        min-width: 380px;
    
        height: 25vw;
        min-height: 300px;
    }

    .info-wow {   
        margin-bottom: -30px;
    }

    .arrow-down-background {
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.7525385154061625) 20%, rgba(0, 0, 0, 0) 40%);
    }

    .arrow-down-background h1 {
        color: white;
        font-size: 2.8vw;
    }
    
    .arrow {
        width: 4vw;
        height: 4vw;
    }
}

@media (max-width: 760px) {
    .persons {
        width: 690px;
        height: 485px;
    }

    .title {
        font-size: 70px;
    }

    .info {
        grid-gap: 150px;
    }

    .info-items {
        flex-direction: column;
        grid-gap: 50px;

        padding: 0;
    }

    .info-items h1 {
        font-size: 7vw;
        text-align: left;
        
        margin-left: 20px;
    }

    .info-items:first-child h1 {
        transform: rotate(0deg);
    }
    
    .info-items:nth-child(2) h1 {
        transform: rotate(0deg);
    }

    .info-items:last-child h1 {
        font-size: 11vw;
        text-align: center;
    }

    .info-img {
        width: 95%;
        min-width: unset;
    
        height: 25vw;
        min-height: 350px;
    }

    .info-wow {   
        margin-bottom: -25px;
    }

    .wow-left {
        margin-right: 35vw;
    }

    .wow-right {
        margin-right: -15px;
    }

    .arrow-down-background {
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.7525385154061625) 30%, rgba(0, 0, 0, 0) 50%);
    }

    .arrow-down-background h1 {
        color: white;
        font-size: 3.8vw;
    }
    
    .arrow {
        width: 5vw;
        height: 5vw;
    }
}

@media (max-width: 610px) {
    .persons {
        width: 650px;
        height: 445px;
    }

    .title {
        font-size: 12vw;
    }

    .info-items h1 {
        font-size: 10vw;
        text-align: left;
        
        margin: 0 20px;
    }

    .info-items:first-child h1 {
        transform: rotate(0deg);
    }
    
    .info-items:nth-child(2) h1 {
        transform: rotate(0deg);
    }

    .info-items:last-child h1 {
        font-size: 12vw;
        text-align: center;
    }

    .info-img {
        width: 95%;
        min-width: unset;
    
        height: 25vw;
        min-height: 350px;
    }

    .info-wow {   
        margin-bottom: 0px;
    }

    .wow-left {
        margin-right: 15vw;
    }

    .wow-right {
        margin-right: 0px;
    }

    .arrow-down-background {
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.7525385154061625) 30%, rgba(0, 0, 0, 0) 50%);
    }

    .arrow-down-background h1 {
        color: white;
        font-size: 4.8vw;
    }
    
    .arrow {
        width: 6vw;
        height: 6vw;
    }
}