.background {
    position: relative;

    font-family: "Manrope", "Mallanna", Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100vh;
}

.banner {
    position: absolute;
    z-index: 1;

    background: rgb(174,174,174);
    background: linear-gradient(148deg, rgba(174,174,174,1) 0%, rgba(217,217,217,1) 100%);

    clip-path: polygon(0 0, 100% 0%, 100% 35%, 0% 100%);

    width: 100%;

    max-height: 340px;
    height: 22.5vw;
    min-height: 300px;
}

.edit-background {
    position: absolute;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 25px;

    width: 100%;
    height: 100px;
}

.edit-opacity {
    opacity: 0;

    transform: translateX(-1000px);

    transition: transform 0.3s ease-in-out;
}

.edit-mode {
    background-color: rgb(33, 184, 71);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    cursor: default;

    padding: 5px 15px;
    margin-top: 2vw;

    transition: all 0.3s ease-in-out;
}

.edit-mode h1 {
    font-size: 1.8vw;
    font-weight: 600;
}

.edit-mode p {
    font-size: 1vw;
    font-weight: 400;

    margin-top: 5px;
}

.edit {
    background-color: #F6F6F6;
    border-radius: 50%;

    margin-right: 20px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    width: 75px;
    height: 75px;
}

.edit:hover {
    transform: scale(0.8) rotate(15deg);

    transition: all 0.3s ease-in-out;
}

.edit-container {
    background-image: url("../assets/images/edit-btn.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 55%;
    height: 55%;

    transition: all 0.3s ease-in-out;
}

.edit-close-container {
    background-image: url("../../src/assets/images/close-btn.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 50%;
    height: 50%;

    transition: all 0.3s ease-in-out;
}

.all-content {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}

.unsee-banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-top: 115px;

    width: 100%;
    height: 100%;
}

.icon {
    background-color: #ABABAB;
    border-radius: 50%;

    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;

    width: 175px;
    height: 175px;
}

.icon-container {
    background-image: url("../../src/assets/images/user-icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-bottom: -15px;

    width: 85%;
    height: 85%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: default;

    width: 100%;
    height: auto;
}

.username-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.username-position {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: auto;
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 75px;
}

.username-container {
    background-image: url("../assets/images/username-icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 65%;
    height: 65%;
}

.username-background p {
    font-size: 45px;
    font-weight: 400;

    margin-top: 5px;
    margin-right: 60px;
}

.username-background input {
    font-size: 45px;
    font-weight: 400;

    margin-top: 5px;
    margin-right: 60px;
}

.username-background input[type=text] {
    text-align: center;
}

.name-background {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -15px;

    width: 100%;
    height: auto;
}

.name-background p {
    color: #808080;
    font-size: 24px;

    margin-left: 60px;
}

.name-background input {
    color: #808080;
    font-size: 24px;

    margin: 5px 15px;
}

.info-background {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-gap: 50px 15px;

    width: 50%;
    height: auto;
}

.info-background-top  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 50px;

    margin-top: 40px;
    
    width: 100%;
    height: auto;
}

.info-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 15px;

    width: 100%;
    height: 100%;
}

.info-background-bottom {
    margin-bottom: 125px;

    width: 100%;
    height: auto;
}

.info-background-bottom .info-content {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    margin-top: 40px;

    width: 100%;
    height: auto;
}

.info-background-bottom .info-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-background-bottom .info-description-exception {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-description {
    background-color: #D9D9D9;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    min-height: 35px;
}

.info-description-input-lock {
    background-color: #858585 !important;
}

.info-description-exception {
    background-color: #D9D9D9;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    min-height: 35px;
}

.info-description p {
    font-size: 1.4vw;
    font-weight: 400;

    margin: 5px 15px;
}

.info-description-exception p {
    font-size: 1.4vw;
    font-weight: 400;

    margin: 5px 15px;
}

.info-description input {
    font-size: 1.4vw;
    font-weight: 400;

    margin: 5px 15px;

    width: 100%;
    height: auto;
    min-height: 35px;
}

.info-icon {
    width: 45px;
    height: 45px;
}

.email-container {
    background-image: url("../assets/images/email-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.password-container {
    background-image: url("../assets/images/password-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.career-container {
    background-image: url("../assets/images/career-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.age-container {
    background-image: url("../assets/images/age-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.class-container {
    background-image: url("../assets/images/class-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
}


.school-container {
    background-image: url("../assets/images/book-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100%;
    height: 100%;
}

.location-container {
    background-image: url("../assets/images/location-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.aboutme-container {
    background-image: url("../assets/images/aboutme-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.save-btn {
    background-color: rgb(201, 201, 201);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    position: fixed;
    right: 0;
    bottom: 0;

    margin-right: 25px;
    margin-bottom: 75px;

    max-width: 150px;
    width: 6vw;
    min-width: 85px;

    max-height: 150px;
    height: 6vw;
    min-height: 85px;

    transition: all 0.3s ease-in-out;
}

.save-btn:hover {
    transform: rotate(15deg) scale(0.85);

    transition: all 0.3s ease-in-out;
}

.save-container {
    background-image: url("../assets/images/save-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 60%;
    height: 60%;
}

.error {
    border-bottom: solid rgba(255, 0, 0, 0.5) 2px;

    margin-top: -15px;
    margin-bottom: 25px;
}

.error-message {
    font-size: 1.2vw;
    color: rgb(250, 55, 55);
}

.username-background .error-message {
    font-size: 1.2vw;
    color: rgb(250, 55, 55);
}