@media (max-width: 612px) {
    .icon-background {
        margin-top: 225px;
    }
    
    .icon {  
        margin-top: 125px;
    }
}

@media (max-width: 609px) {
    .icon-background {
        margin-top: 100px;
    }
}