.background {
    background-color: #001017;

    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100vh;
}

.top-circle-position {
    display: flex;
    justify-content: flex-end;

    position: absolute;

    width: 100%;
    height: 35vh;
}

.top-circle {
    background-color: rgba(255, 255, 255, 0.50);
    filter: blur(75px);

    border-radius: 50%;

    margin-top: -8vw;
    margin-right: -8vw;

    animation: topCircle 13.5s infinite ease-in-out;

    width: clamp(200px, 19vw, 750px);
    height: clamp(200px, 19vw, 750px);
}

.bottom-circle-position {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: absolute;

    width: 100%;
    height: 100vh;
}

.bottom-circle {
    background-color: rgba(255, 255, 255, 0.50);
    filter: blur(75px);

    border-radius: 50%;

    margin-bottom: -11vw;

    animation: bottomCircle 10s infinite ease-in-out;

    width: clamp(75px, 100vw, 1850px);
    height: clamp(75px, 15vw, 750px);
}

.mouse-circle {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;
}

.circle {
    background-color: rgba(255, 255, 255, 0.9);
    filter: blur(18px);

    position: absolute;
    left: 0;
    top: 0;

    border-radius: 50%;

    width: 35px;
    height: 35px;
}

.background-container {
    color: white;
    font-family: "Manrope", "Mallana", Arial, Helvetica, sans-serif;

    position: absolute;
    z-index: 3;

    width: 100%;
    height: 100%;
}

.back-btn {
    margin-left: 50px;
    margin-top: 25px;

    width: 6vw;
    height: 6vw;

    transition: all 0.3s ease-in-out;
}

.back-btn:hover {
    transform: scale(0.85);

    animation: returnBtn 2s 1s infinite ease-in-out;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.back-btn-container {
    background-image: url("../../src/assets/images/back-btn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

@keyframes returnBtn {
    0%, 30%, 50%, 60%, 100% {
        transform: translateX(0px) scale(0.85);
    }

    25%, 75% {
        transform: translateX(-20px) scale(0.85);
    }
}

.center-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80%;
}

.center-signup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    cursor: default;
}

.header h1 {
    font-size: 5vw;
}

.header p {
    font-size: 1.45vw;
    font-weight: 100;

    margin-left: 6px;
    margin-top: -10px;
}

.cars {
    margin-top: -55px;

    width: 17vw;
    height: 17vw;
}

.cars-container {
    background-image: url("../../src/assets/gifs/car-animation.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.center-signup form {
    margin-top: -70px;

    width: 100%;
    height: auto;
}

.form-content {
    background-color: rgba(21, 21, 21, 0.50);

    border: #80878B solid 1px;
    border-radius: 12px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 3.8vw;
}

.form-content:focus-within {
    border: #ffffff solid 1px;

    transition: all 0.3s ease-in-out;
}

.form-content input {
    color: #C2C4C5;
    font-size: 1.1vw;

    margin-left: 15px;

    width: 95%;
    height: auto;
}

.form-error {
    color: rgb(255, 119, 119);

    font-size: 0.85vw;

    border-bottom: 3px solid rgba(255, 119, 119, 0.658);

    margin-top: 5px;
    margin-left: 10px;

    padding-bottom: 2px;

    width: 350px;
    height: auto;
}


.password {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}

.view-pass {
    margin-right: 15px;

    cursor: pointer;

    width: 42px;
    height: 40px;

    transition: all 0.15s ease-in-out;
}

.view-pass:hover {
    transform: scale(0.85);

    transition: all 0.15s ease-in-out;
}

.view-pass-container {
    background-image: url("../../src/assets/images/hide-password.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;

    transition: all 0.3s ease-in-out;
}

.view-pass-hider-container {
    background-image: url("../../src/assets/images/view-password.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;

    transition: all 0.3s ease-in-out;
}

.submit {
    margin-top: 3vw;

    width: 100%;
    height: auto;
}

.submit p {
    font-size: 1.2vw;

    text-align: center;
}

.submit a {
    font-weight: bold;

    transition: all 0.2s ease-in-out;
}

.submit a:hover {
    font-size: 1vw;
    text-decoration: underline;

    transition: all 0.2s ease-in-out;
}

.submit input {
    background-color: white;

    border-radius: 16px;

    color: black;
    font-size: 2vw;
    font-weight: bold;

    cursor: pointer;

    margin-top: 1vw;

    width: 100%;
    height: 4vw;

    transition: all 0.3s ease-in-out;
}

.submit input:hover {
    transform: scale(0.85);

    transition: all 0.3s ease-in-out;
}