@media(max-width: 1000px) {
    .list-flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-division {
        padding-bottom: 1px;

        margin: 25px 0;
        margin-bottom: 50px;

        width: 90%;
        height: auto;
    }
}

@media (max-width: 1086px) {
    .menu-container {
        width: 65%;
    }

    .menu-container a {
        font-size: clamp(15px, 3.5vw, 45px);
    
        padding: 0 15px;
    }
}

@media (max-width: 785px) {
    .menu-container {
        width: 75%;
        min-width: 380px;
    }

    .menu-container a {
        font-size: clamp(19px, 3.6vw, 45px);
    }

    .menu {
        height: 75px;
    }

    .list-direction {
        min-height: 200px;
    }
}

@media (max-width: 840px) {
    .list-titles h1 {
        font-family: "Manrope", "Mallana", Arial, Helvetica, sans-serif;
        font-size: clamp(30px, 5vw, 50px);
        font-weight: 400;
    
        margin-bottom: 10px;
    }

    .form-list-inputs {
        align-items: flex-start;
    }

    .form-list-inputs input {
        width: 95%;
    }

    .form-list-dates {
        justify-content: flex-start;
        grid-gap: 25px;
    }

    .form-list-date input {
        padding: 0 15px;
        margin-left: 5px;
    
        width: 220px;
    }

    .submit-btn {
        margin-top: 5px;
    }
}