@media (max-width: 1586px) {
    .form-list-input-title {
        margin-left: clamp(-15px, 15vw, -50px);
    }
}

@media (max-width: 1388px) {
    .request-container {
        max-height: 200px;
        height: 13vw;
        min-height: 175px;
    }
}

@media (max-width: 970px) {
    .request-container {
        max-height: 200px;
        height: 13vw;
        min-height: 175px;
    }
}

@media (max-width: 602px) {
    .request-container {
        max-height: 200px;
        height: 13vw;
        min-height: 165px;
    }
}


@media (max-width: 1085px) {
    .menu-container {
        width: 65%;
    }

    .menu-container a {
        font-size: clamp(15px, 3.5vw, 45px);
    
        padding: 0 15px;
    }
}

@media (max-width: 785px) {
    .menu-container {
        width: 75%;
        min-width: 380px;
    }

    .menu-container a {
        font-size: clamp(19px, 3.6vw, 45px);
    }

    .menu {
        height: 75px;
    }
}